html,body,#app,.container{

    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

@font-face {
    font-family: 'cat';
    src: url('./font/font.ttf') format('truetype');
  }